body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: "Karla", sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 0;
}

h1 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 4rem;
  line-height: 3rem;
}

h2 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
}

h3 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0;
}

ul {
  list-style: none;
  text-align: left;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: underline;
}

.section-container {
  padding: 2rem 20vw;
}

.primary-button {
  background:#F4CE14;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  font-family: "Karla", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

.specials-cards-container {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.85rem;
}

.specials-card-img {
  border-radius: 1rem 1rem 0rem 0rem;
  object-fit: cover;
  height: 11.5rem;
  width: 100%;
}

.specials-card-container {
  display: grid;
  grid-template-columns: 1fr;
}

.specials-card-text {
  color: black;
  padding: 1.5rem;
}

@media (max-width: 768px) {
  .specials-cards-container {
    grid-template-columns: 1fr;
  }

  .specials-card-img {
    border-radius: 1rem;
    margin: 1.85rem;
    align-self: center;
    grid-column-start: 2;
  }

  .specials-card-text {
    grid-row: 2 / 1;
  }

  .specials-card-container {
    grid-template-columns: 1fr 1fr;
    background: white;
    border-color: black;
    border-width: 1px 0;
    border-style: solid;
  }
}