body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: "Karla", sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 0;
}

h1 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 4rem;
  line-height: 3rem;
}

h2 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
}

h3 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0;
}

ul {
  list-style: none;
  text-align: left;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: underline;
}

.menu-icon {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.section-container {
  padding: 2rem 20vw;
}

.primary-button {
  background:#F4CE14;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  font-family: "Karla", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

.specials-cards-container {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.85rem;
}

.specials-card-img {
  border-radius: 1rem 1rem 0rem 0rem;
  object-fit: cover;
  height: 11.5rem;
  width: 100%;
}

.specials-card-container {
  display: grid;
  grid-template-columns: 1fr;
}

.specials-card-text {
  color: black;
  padding: 1.5rem;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7.4rem;
    right: 0;
    width: 100%;
    padding: 2rem 0;
    background: #edefee;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
  }

  .specials-cards-container {
    grid-template-columns: 1fr;
  }

  .specials-card-img {
    border-radius: 1rem;
    align-self: center;
    grid-column-start: 2;
    height: 6rem;
  }

  .specials-card-text {
    grid-row: 2 / 1;
  }

  .specials-card-container {
    grid-template-columns: 3fr 1fr;
    background: white;
    border-color: #e0e3e1;
    border-width: 0 0 1px;
    border-style: solid;
  }
}