body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: "Karla", sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 0;
}

h1 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 4rem;
  line-height: 3rem;
}

h2 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
}

h3 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0;
}

ul {
  list-style: none;
  text-align: left;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: underline;
}

.primary-button {
  background:#F4CE14;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  font-family: "Karla", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}